<div class="temporary-class">
  <p>recipe-detail works!</p>
  <img src="" alt="">
  <h1>Recipe Name</h1>
  <div>
    <button type="button" class="inline-flex items-center px-2.5 py-1.5 border border-transparent text-xs font-medium rounded shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
      Manage Recipe
    </button>
    <ul class="dropdown">
      <li>Add Ingredients to Shopping list</li>
      <li>Edit Recipe</li>
      <li>Delete Recipe</li>
    </ul>
  </div>
  <div>Description</div>
  <div>Ingridients</div>
</div>
