<!--<ul role="list" class="tw-recipe-list">-->
<!--  <li-->
<!--    *ngFor="let recipe of recipes"-->
<!--    class="relative"-->
<!--  >-->
<!--    <div-->
<!--      class="tw-recipe-list-item">-->
<!--      <img-->
<!--        [src]="recipe.imagePath"-->
<!--        [alt]="recipe.name"-->
<!--        class="tw-recipe-list-item-image"-->
<!--      >-->
<!--      <button type="button" class="absolute inset-0 focus:outline-none">-->
<!--        <span class="sr-only">View details for IMG_4985.HEIC</span>-->
<!--      </button>-->
<!--    </div>-->
<!--    <p class="mt-2 block text-sm font-medium text-gray-900 truncate pointer-events-none">{{ recipe.name }}</p>-->
<!--    <p class="block text-sm font-medium text-gray-500 pointer-events-none">{{ recipe.description }}</p>-->
<!--    <app-recipe-item></app-recipe-item>-->
<!--  </li>-->
<!--</ul>-->

<!-- This example requires Tailwind CSS v2.0+ -->
<nav class="h-screen overflow-y-auto" aria-label="Directory">
  <div class="relative">
    <div class="z-10 sticky top-0 border-t border-b border-gray-200 bg-gray-50 px-6 py-1 text-sm font-medium text-gray-500">
      <h3>A</h3>
    </div>
    <ul role="list" class="relative z-0 divide-y divide-gray-200">
      <li class="bg-white">
        <div class="relative py-5 flex items-center space-x-3 hover:bg-gray-50 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-500">
          <div class="flex-shrink-0">
            <img class="h-10 w-10 rounded-full" src="https://www.maxpixel.net/static/photo/1x/Tomato-Food-Healthy-Cucumber-Salad-Power-Supply-4353293.jpg" alt="">
          </div>
          <div class="flex-1 min-w-0">
            <a href="#" class="focus:outline-none">
              <!-- Extend touch target to entire panel -->
              <span class="absolute inset-0" aria-hidden="true"></span>
              <p class="text-sm font-medium text-gray-900">
                A-Recipe-1
              </p>
              <p class="text-sm text-gray-500 truncate">
                Author
              </p>
            </a>
          </div>
        </div>
      </li>

      <li class="bg-white">
        <div class="relative py-5 flex items-center space-x-3 hover:bg-gray-50 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-500">
          <div class="flex-shrink-0">
            <img class="h-10 w-10 rounded-full" src="https://www.maxpixel.net/static/photo/1x/Tomato-Food-Healthy-Cucumber-Salad-Power-Supply-4353293.jpg" alt="">
          </div>
          <div class="flex-1 min-w-0">
            <a href="#" class="focus:outline-none">
              <!-- Extend touch target to entire panel -->
              <span class="absolute inset-0" aria-hidden="true"></span>
              <p class="text-sm font-medium text-gray-900">
                A-Recipe-2
              </p>
              <p class="text-sm text-gray-500 truncate">
                Author
              </p>
            </a>
          </div>
        </div>
      </li>

      <li class="bg-white">
        <div class="relative py-5 flex items-center space-x-3 hover:bg-gray-50 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-500">
          <div class="flex-shrink-0">
            <img class="h-10 w-10 rounded-full" src="https://www.maxpixel.net/static/photo/1x/Tomato-Food-Healthy-Cucumber-Salad-Power-Supply-4353293.jpg" alt="">
          </div>
          <div class="flex-1 min-w-0">
            <a href="#" class="focus:outline-none">
              <!-- Extend touch target to entire panel -->
              <span class="absolute inset-0" aria-hidden="true"></span>
              <p class="text-sm font-medium text-gray-900">
                A-Recipe-3
              </p>
              <p class="text-sm text-gray-500 truncate">
                Author
              </p>
            </a>
          </div>
        </div>
      </li>

      <li class="bg-white">
        <div class="relative py-5 flex items-center space-x-3 hover:bg-gray-50 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-500">
          <div class="flex-shrink-0">
            <img class="h-10 w-10 rounded-full" src="https://www.maxpixel.net/static/photo/1x/Tomato-Food-Healthy-Cucumber-Salad-Power-Supply-4353293.jpg" alt="">
          </div>
          <div class="flex-1 min-w-0">
            <a href="#" class="focus:outline-none">
              <!-- Extend touch target to entire panel -->
              <span class="absolute inset-0" aria-hidden="true"></span>
              <p class="text-sm font-medium text-gray-900">
                A-Recipe-4
              </p>
              <p class="text-sm text-gray-500 truncate">
                Author
              </p>
            </a>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <div class="relative">
    <div class="z-10 sticky top-0 border-t border-b border-gray-200 bg-gray-50 px-6 py-1 text-sm font-medium text-gray-500">
      <h3>B</h3>
    </div>
    <ul role="list" class="relative z-0 divide-y divide-gray-200">
      <li class="bg-white">
        <div class="relative py-5 flex items-center space-x-3 hover:bg-gray-50 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-500">
          <div class="flex-shrink-0">
            <img class="h-10 w-10 rounded-full" src="https://www.maxpixel.net/static/photo/1x/Tomato-Food-Healthy-Cucumber-Salad-Power-Supply-4353293.jpg" alt="">
          </div>
          <div class="flex-1 min-w-0">
            <a href="#" class="focus:outline-none">
              <!-- Extend touch target to entire panel -->
              <span class="absolute inset-0" aria-hidden="true"></span>
              <p class="text-sm font-medium text-gray-900">
                A-Recipe-1
              </p>
              <p class="text-sm text-gray-500 truncate">
                Author
              </p>
            </a>
          </div>
        </div>
      </li>

      <li class="bg-white">
        <div class="relative py-5 flex items-center space-x-3 hover:bg-gray-50 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-500">
          <div class="flex-shrink-0">
            <img class="h-10 w-10 rounded-full" src="https://www.maxpixel.net/static/photo/1x/Tomato-Food-Healthy-Cucumber-Salad-Power-Supply-4353293.jpg" alt="">
          </div>
          <div class="flex-1 min-w-0">
            <a href="#" class="focus:outline-none">
              <!-- Extend touch target to entire panel -->
              <span class="absolute inset-0" aria-hidden="true"></span>
              <p class="text-sm font-medium text-gray-900">
                A-Recipe-2
              </p>
              <p class="text-sm text-gray-500 truncate">
                Author
              </p>
            </a>
          </div>
        </div>
      </li>

      <li class="bg-white">
        <div class="relative py-5 flex items-center space-x-3 hover:bg-gray-50 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-500">
          <div class="flex-shrink-0">
            <img class="h-10 w-10 rounded-full" src="https://www.maxpixel.net/static/photo/1x/Tomato-Food-Healthy-Cucumber-Salad-Power-Supply-4353293.jpg" alt="">
          </div>
          <div class="flex-1 min-w-0">
            <a href="#" class="focus:outline-none">
              <!-- Extend touch target to entire panel -->
              <span class="absolute inset-0" aria-hidden="true"></span>
              <p class="text-sm font-medium text-gray-900">
                A-Recipe-3
              </p>
              <p class="text-sm text-gray-500 truncate">
                Author
              </p>
            </a>
          </div>
        </div>
      </li>

      <li class="bg-white">
        <div class="relative py-5 flex items-center space-x-3 hover:bg-gray-50 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-500">
          <div class="flex-shrink-0">
            <img class="h-10 w-10 rounded-full" src="https://www.maxpixel.net/static/photo/1x/Tomato-Food-Healthy-Cucumber-Salad-Power-Supply-4353293.jpg" alt="">
          </div>
          <div class="flex-1 min-w-0">
            <a href="#" class="focus:outline-none">
              <!-- Extend touch target to entire panel -->
              <span class="absolute inset-0" aria-hidden="true"></span>
              <p class="text-sm font-medium text-gray-900">
                A-Recipe-4
              </p>
              <p class="text-sm text-gray-500 truncate">
                Author
              </p>
            </a>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <div class="relative">
    <div class="z-10 sticky top-0 border-t border-b border-gray-200 bg-gray-50 px-6 py-1 text-sm font-medium text-gray-500">
      <h3>C</h3>
    </div>
    <ul role="list" class="relative z-0 divide-y divide-gray-200">
      <li class="bg-white">
        <div class="relative py-5 flex items-center space-x-3 hover:bg-gray-50 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-500">
          <div class="flex-shrink-0">
            <img class="h-10 w-10 rounded-full" src="https://www.maxpixel.net/static/photo/1x/Tomato-Food-Healthy-Cucumber-Salad-Power-Supply-4353293.jpg" alt="">
          </div>
          <div class="flex-1 min-w-0">
            <a href="#" class="focus:outline-none">
              <!-- Extend touch target to entire panel -->
              <span class="absolute inset-0" aria-hidden="true"></span>
              <p class="text-sm font-medium text-gray-900">
                A-Recipe-1
              </p>
              <p class="text-sm text-gray-500 truncate">
                Author
              </p>
            </a>
          </div>
        </div>
      </li>

      <li class="bg-white">
        <div class="relative py-5 flex items-center space-x-3 hover:bg-gray-50 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-500">
          <div class="flex-shrink-0">
            <img class="h-10 w-10 rounded-full" src="https://www.maxpixel.net/static/photo/1x/Tomato-Food-Healthy-Cucumber-Salad-Power-Supply-4353293.jpg" alt="">
          </div>
          <div class="flex-1 min-w-0">
            <a href="#" class="focus:outline-none">
              <!-- Extend touch target to entire panel -->
              <span class="absolute inset-0" aria-hidden="true"></span>
              <p class="text-sm font-medium text-gray-900">
                A-Recipe-2
              </p>
              <p class="text-sm text-gray-500 truncate">
                Author
              </p>
            </a>
          </div>
        </div>
      </li>

      <li class="bg-white">
        <div class="relative py-5 flex items-center space-x-3 hover:bg-gray-50 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-500">
          <div class="flex-shrink-0">
            <img class="h-10 w-10 rounded-full" src="https://www.maxpixel.net/static/photo/1x/Tomato-Food-Healthy-Cucumber-Salad-Power-Supply-4353293.jpg" alt="">
          </div>
          <div class="flex-1 min-w-0">
            <a href="#" class="focus:outline-none">
              <!-- Extend touch target to entire panel -->
              <span class="absolute inset-0" aria-hidden="true"></span>
              <p class="text-sm font-medium text-gray-900">
                A-Recipe-3
              </p>
              <p class="text-sm text-gray-500 truncate">
                Author
              </p>
            </a>
          </div>
        </div>
      </li>

      <li class="bg-white">
        <div class="relative py-5 flex items-center space-x-3 hover:bg-gray-50 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-500">
          <div class="flex-shrink-0">
            <img class="h-10 w-10 rounded-full" src="https://www.maxpixel.net/static/photo/1x/Tomato-Food-Healthy-Cucumber-Salad-Power-Supply-4353293.jpg" alt="">
          </div>
          <div class="flex-1 min-w-0">
            <a href="#" class="focus:outline-none">
              <!-- Extend touch target to entire panel -->
              <span class="absolute inset-0" aria-hidden="true"></span>
              <p class="text-sm font-medium text-gray-900">
                A-Recipe-4
              </p>
              <p class="text-sm text-gray-500 truncate">
                Author
              </p>
            </a>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <div class="relative">
    <div class="z-10 sticky top-0 border-t border-b border-gray-200 bg-gray-50 px-6 py-1 text-sm font-medium text-gray-500">
      <h3>E</h3>
    </div>
    <ul role="list" class="relative z-0 divide-y divide-gray-200">
      <li class="bg-white">
        <div class="relative py-5 flex items-center space-x-3 hover:bg-gray-50 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-500">
          <div class="flex-shrink-0">
            <img class="h-10 w-10 rounded-full" src="https://www.maxpixel.net/static/photo/1x/Tomato-Food-Healthy-Cucumber-Salad-Power-Supply-4353293.jpg" alt="">
          </div>
          <div class="flex-1 min-w-0">
            <a href="#" class="focus:outline-none">
              <!-- Extend touch target to entire panel -->
              <span class="absolute inset-0" aria-hidden="true"></span>
              <p class="text-sm font-medium text-gray-900">
                A-Recipe-1
              </p>
              <p class="text-sm text-gray-500 truncate">
                Author
              </p>
            </a>
          </div>
        </div>
      </li>

      <li class="bg-white">
        <div class="relative py-5 flex items-center space-x-3 hover:bg-gray-50 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-500">
          <div class="flex-shrink-0">
            <img class="h-10 w-10 rounded-full" src="https://www.maxpixel.net/static/photo/1x/Tomato-Food-Healthy-Cucumber-Salad-Power-Supply-4353293.jpg" alt="">
          </div>
          <div class="flex-1 min-w-0">
            <a href="#" class="focus:outline-none">
              <!-- Extend touch target to entire panel -->
              <span class="absolute inset-0" aria-hidden="true"></span>
              <p class="text-sm font-medium text-gray-900">
                A-Recipe-2
              </p>
              <p class="text-sm text-gray-500 truncate">
                Author
              </p>
            </a>
          </div>
        </div>
      </li>

      <li class="bg-white">
        <div class="relative py-5 flex items-center space-x-3 hover:bg-gray-50 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-500">
          <div class="flex-shrink-0">
            <img class="h-10 w-10 rounded-full" src="https://www.maxpixel.net/static/photo/1x/Tomato-Food-Healthy-Cucumber-Salad-Power-Supply-4353293.jpg" alt="">
          </div>
          <div class="flex-1 min-w-0">
            <a href="#" class="focus:outline-none">
              <!-- Extend touch target to entire panel -->
              <span class="absolute inset-0" aria-hidden="true"></span>
              <p class="text-sm font-medium text-gray-900">
                A-Recipe-3
              </p>
              <p class="text-sm text-gray-500 truncate">
                Author
              </p>
            </a>
          </div>
        </div>
      </li>

      <li class="bg-white">
        <div class="relative py-5 flex items-center space-x-3 hover:bg-gray-50 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-500">
          <div class="flex-shrink-0">
            <img class="h-10 w-10 rounded-full" src="https://www.maxpixel.net/static/photo/1x/Tomato-Food-Healthy-Cucumber-Salad-Power-Supply-4353293.jpg" alt="">
          </div>
          <div class="flex-1 min-w-0">
            <a href="#" class="focus:outline-none">
              <!-- Extend touch target to entire panel -->
              <span class="absolute inset-0" aria-hidden="true"></span>
              <p class="text-sm font-medium text-gray-900">
                A-Recipe-4
              </p>
              <p class="text-sm text-gray-500 truncate">
                Author
              </p>
            </a>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <div class="relative">
    <div class="z-10 sticky top-0 border-t border-b border-gray-200 bg-gray-50 px-6 py-1 text-sm font-medium text-gray-500">
      <h3>G</h3>
    </div>
    <ul role="list" class="relative z-0 divide-y divide-gray-200">
      <li class="bg-white">
        <div class="relative py-5 flex items-center space-x-3 hover:bg-gray-50 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-500">
          <div class="flex-shrink-0">
            <img class="h-10 w-10 rounded-full" src="https://www.maxpixel.net/static/photo/1x/Tomato-Food-Healthy-Cucumber-Salad-Power-Supply-4353293.jpg" alt="">
          </div>
          <div class="flex-1 min-w-0">
            <a href="#" class="focus:outline-none">
              <!-- Extend touch target to entire panel -->
              <span class="absolute inset-0" aria-hidden="true"></span>
              <p class="text-sm font-medium text-gray-900">
                A-Recipe-1
              </p>
              <p class="text-sm text-gray-500 truncate">
                Author
              </p>
            </a>
          </div>
        </div>
      </li>

      <li class="bg-white">
        <div class="relative py-5 flex items-center space-x-3 hover:bg-gray-50 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-500">
          <div class="flex-shrink-0">
            <img class="h-10 w-10 rounded-full" src="https://www.maxpixel.net/static/photo/1x/Tomato-Food-Healthy-Cucumber-Salad-Power-Supply-4353293.jpg" alt="">
          </div>
          <div class="flex-1 min-w-0">
            <a href="#" class="focus:outline-none">
              <!-- Extend touch target to entire panel -->
              <span class="absolute inset-0" aria-hidden="true"></span>
              <p class="text-sm font-medium text-gray-900">
                A-Recipe-2
              </p>
              <p class="text-sm text-gray-500 truncate">
                Author
              </p>
            </a>
          </div>
        </div>
      </li>

      <li class="bg-white">
        <div class="relative py-5 flex items-center space-x-3 hover:bg-gray-50 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-500">
          <div class="flex-shrink-0">
            <img class="h-10 w-10 rounded-full" src="https://www.maxpixel.net/static/photo/1x/Tomato-Food-Healthy-Cucumber-Salad-Power-Supply-4353293.jpg" alt="">
          </div>
          <div class="flex-1 min-w-0">
            <a href="#" class="focus:outline-none">
              <!-- Extend touch target to entire panel -->
              <span class="absolute inset-0" aria-hidden="true"></span>
              <p class="text-sm font-medium text-gray-900">
                A-Recipe-3
              </p>
              <p class="text-sm text-gray-500 truncate">
                Author
              </p>
            </a>
          </div>
        </div>
      </li>

      <li class="bg-white">
        <div class="relative py-5 flex items-center space-x-3 hover:bg-gray-50 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-500">
          <div class="flex-shrink-0">
            <img class="h-10 w-10 rounded-full" src="https://www.maxpixel.net/static/photo/1x/Tomato-Food-Healthy-Cucumber-Salad-Power-Supply-4353293.jpg" alt="">
          </div>
          <div class="flex-1 min-w-0">
            <a href="#" class="focus:outline-none">
              <!-- Extend touch target to entire panel -->
              <span class="absolute inset-0" aria-hidden="true"></span>
              <p class="text-sm font-medium text-gray-900">
                A-Recipe-4
              </p>
              <p class="text-sm text-gray-500 truncate">
                Author
              </p>
            </a>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <div class="relative">
    <div class="z-10 sticky top-0 border-t border-b border-gray-200 bg-gray-50 px-6 py-1 text-sm font-medium text-gray-500">
      <h3>M</h3>
    </div>
    <ul role="list" class="relative z-0 divide-y divide-gray-200">
      <li class="bg-white">
        <div class="relative py-5 flex items-center space-x-3 hover:bg-gray-50 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-500">
          <div class="flex-shrink-0">
            <img class="h-10 w-10 rounded-full" src="https://www.maxpixel.net/static/photo/1x/Tomato-Food-Healthy-Cucumber-Salad-Power-Supply-4353293.jpg" alt="">
          </div>
          <div class="flex-1 min-w-0">
            <a href="#" class="focus:outline-none">
              <!-- Extend touch target to entire panel -->
              <span class="absolute inset-0" aria-hidden="true"></span>
              <p class="text-sm font-medium text-gray-900">
                A-Recipe-1
              </p>
              <p class="text-sm text-gray-500 truncate">
                Author
              </p>
            </a>
          </div>
        </div>
      </li>

      <li class="bg-white">
        <div class="relative py-5 flex items-center space-x-3 hover:bg-gray-50 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-500">
          <div class="flex-shrink-0">
            <img class="h-10 w-10 rounded-full" src="https://www.maxpixel.net/static/photo/1x/Tomato-Food-Healthy-Cucumber-Salad-Power-Supply-4353293.jpg" alt="">
          </div>
          <div class="flex-1 min-w-0">
            <a href="#" class="focus:outline-none">
              <!-- Extend touch target to entire panel -->
              <span class="absolute inset-0" aria-hidden="true"></span>
              <p class="text-sm font-medium text-gray-900">
                A-Recipe-2
              </p>
              <p class="text-sm text-gray-500 truncate">
                Author
              </p>
            </a>
          </div>
        </div>
      </li>

      <li class="bg-white">
        <div class="relative py-5 flex items-center space-x-3 hover:bg-gray-50 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-500">
          <div class="flex-shrink-0">
            <img class="h-10 w-10 rounded-full" src="https://www.maxpixel.net/static/photo/1x/Tomato-Food-Healthy-Cucumber-Salad-Power-Supply-4353293.jpg" alt="">
          </div>
          <div class="flex-1 min-w-0">
            <a href="#" class="focus:outline-none">
              <!-- Extend touch target to entire panel -->
              <span class="absolute inset-0" aria-hidden="true"></span>
              <p class="text-sm font-medium text-gray-900">
                A-Recipe-3
              </p>
              <p class="text-sm text-gray-500 truncate">
                Author
              </p>
            </a>
          </div>
        </div>
      </li>

      <li class="bg-white">
        <div class="relative py-5 flex items-center space-x-3 hover:bg-gray-50 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-500">
          <div class="flex-shrink-0">
            <img class="h-10 w-10 rounded-full" src="https://www.maxpixel.net/static/photo/1x/Tomato-Food-Healthy-Cucumber-Salad-Power-Supply-4353293.jpg" alt="">
          </div>
          <div class="flex-1 min-w-0">
            <a href="#" class="focus:outline-none">
              <!-- Extend touch target to entire panel -->
              <span class="absolute inset-0" aria-hidden="true"></span>
              <p class="text-sm font-medium text-gray-900">
                A-Recipe-4
              </p>
              <p class="text-sm text-gray-500 truncate">
                Author
              </p>
            </a>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <div class="relative">
    <div class="z-10 sticky top-0 border-t border-b border-gray-200 bg-gray-50 px-6 py-1 text-sm font-medium text-gray-500">
      <h3>S</h3>
    </div>
    <ul role="list" class="relative z-0 divide-y divide-gray-200">
      <li class="bg-white">
        <div class="relative py-5 flex items-center space-x-3 hover:bg-gray-50 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-500">
          <div class="flex-shrink-0">
            <img class="h-10 w-10 rounded-full" src="https://www.maxpixel.net/static/photo/1x/Tomato-Food-Healthy-Cucumber-Salad-Power-Supply-4353293.jpg" alt="">
          </div>
          <div class="flex-1 min-w-0">
            <a href="#" class="focus:outline-none">
              <!-- Extend touch target to entire panel -->
              <span class="absolute inset-0" aria-hidden="true"></span>
              <p class="text-sm font-medium text-gray-900">
                A-Recipe-1
              </p>
              <p class="text-sm text-gray-500 truncate">
                Author
              </p>
            </a>
          </div>
        </div>
      </li>

      <li class="bg-white">
        <div class="relative py-5 flex items-center space-x-3 hover:bg-gray-50 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-500">
          <div class="flex-shrink-0">
            <img class="h-10 w-10 rounded-full" src="https://www.maxpixel.net/static/photo/1x/Tomato-Food-Healthy-Cucumber-Salad-Power-Supply-4353293.jpg" alt="">
          </div>
          <div class="flex-1 min-w-0">
            <a href="#" class="focus:outline-none">
              <!-- Extend touch target to entire panel -->
              <span class="absolute inset-0" aria-hidden="true"></span>
              <p class="text-sm font-medium text-gray-900">
                A-Recipe-2
              </p>
              <p class="text-sm text-gray-500 truncate">
                Author
              </p>
            </a>
          </div>
        </div>
      </li>

      <li class="bg-white">
        <div class="relative py-5 flex items-center space-x-3 hover:bg-gray-50 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-500">
          <div class="flex-shrink-0">
            <img class="h-10 w-10 rounded-full" src="https://www.maxpixel.net/static/photo/1x/Tomato-Food-Healthy-Cucumber-Salad-Power-Supply-4353293.jpg" alt="">
          </div>
          <div class="flex-1 min-w-0">
            <a href="#" class="focus:outline-none">
              <!-- Extend touch target to entire panel -->
              <span class="absolute inset-0" aria-hidden="true"></span>
              <p class="text-sm font-medium text-gray-900">
                A-Recipe-3
              </p>
              <p class="text-sm text-gray-500 truncate">
                Author
              </p>
            </a>
          </div>
        </div>
      </li>

      <li class="bg-white">
        <div class="relative py-5 flex items-center space-x-3 hover:bg-gray-50 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-500">
          <div class="flex-shrink-0">
            <img class="h-10 w-10 rounded-full" src="https://www.maxpixel.net/static/photo/1x/Tomato-Food-Healthy-Cucumber-Salad-Power-Supply-4353293.jpg" alt="">
          </div>
          <div class="flex-1 min-w-0">
            <a href="#" class="focus:outline-none">
              <!-- Extend touch target to entire panel -->
              <span class="absolute inset-0" aria-hidden="true"></span>
              <p class="text-sm font-medium text-gray-900">
                A-Recipe-4
              </p>
              <p class="text-sm text-gray-500 truncate">
                Author
              </p>
            </a>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <div class="relative">
    <div class="z-10 sticky top-0 border-t border-b border-gray-200 bg-gray-50 px-6 py-1 text-sm font-medium text-gray-500">
      <h3>T</h3>
    </div>
    <ul role="list" class="relative z-0 divide-y divide-gray-200">
      <li class="bg-white">
        <div class="relative py-5 flex items-center space-x-3 hover:bg-gray-50 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-500">
          <div class="flex-shrink-0">
            <img class="h-10 w-10 rounded-full" src="https://www.maxpixel.net/static/photo/1x/Tomato-Food-Healthy-Cucumber-Salad-Power-Supply-4353293.jpg" alt="">
          </div>
          <div class="flex-1 min-w-0">
            <a href="#" class="focus:outline-none">
              <!-- Extend touch target to entire panel -->
              <span class="absolute inset-0" aria-hidden="true"></span>
              <p class="text-sm font-medium text-gray-900">
                A-Recipe-1
              </p>
              <p class="text-sm text-gray-500 truncate">
                Author
              </p>
            </a>
          </div>
        </div>
      </li>

      <li class="bg-white">
        <div class="relative py-5 flex items-center space-x-3 hover:bg-gray-50 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-500">
          <div class="flex-shrink-0">
            <img class="h-10 w-10 rounded-full" src="https://www.maxpixel.net/static/photo/1x/Tomato-Food-Healthy-Cucumber-Salad-Power-Supply-4353293.jpg" alt="">
          </div>
          <div class="flex-1 min-w-0">
            <a href="#" class="focus:outline-none">
              <!-- Extend touch target to entire panel -->
              <span class="absolute inset-0" aria-hidden="true"></span>
              <p class="text-sm font-medium text-gray-900">
                A-Recipe-2
              </p>
              <p class="text-sm text-gray-500 truncate">
                Author
              </p>
            </a>
          </div>
        </div>
      </li>

      <li class="bg-white">
        <div class="relative py-5 flex items-center space-x-3 hover:bg-gray-50 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-500">
          <div class="flex-shrink-0">
            <img class="h-10 w-10 rounded-full" src="https://www.maxpixel.net/static/photo/1x/Tomato-Food-Healthy-Cucumber-Salad-Power-Supply-4353293.jpg" alt="">
          </div>
          <div class="flex-1 min-w-0">
            <a href="#" class="focus:outline-none">
              <!-- Extend touch target to entire panel -->
              <span class="absolute inset-0" aria-hidden="true"></span>
              <p class="text-sm font-medium text-gray-900">
                A-Recipe-3
              </p>
              <p class="text-sm text-gray-500 truncate">
                Author
              </p>
            </a>
          </div>
        </div>
      </li>

      <li class="bg-white">
        <div class="relative py-5 flex items-center space-x-3 hover:bg-gray-50 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-500">
          <div class="flex-shrink-0">
            <img class="h-10 w-10 rounded-full" src="https://www.maxpixel.net/static/photo/1x/Tomato-Food-Healthy-Cucumber-Salad-Power-Supply-4353293.jpg" alt="">
          </div>
          <div class="flex-1 min-w-0">
            <a href="#" class="focus:outline-none">
              <!-- Extend touch target to entire panel -->
              <span class="absolute inset-0" aria-hidden="true"></span>
              <p class="text-sm font-medium text-gray-900">
                A-Recipe-4
              </p>
              <p class="text-sm text-gray-500 truncate">
                Author
              </p>
            </a>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <div class="relative">
    <div class="z-10 sticky top-0 border-t border-b border-gray-200 bg-gray-50 px-6 py-1 text-sm font-medium text-gray-500">
      <h3>W</h3>
    </div>
    <ul role="list" class="relative z-0 divide-y divide-gray-200">
      <li class="bg-white">
        <div class="relative py-5 flex items-center space-x-3 hover:bg-gray-50 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-500">
          <div class="flex-shrink-0">
            <img class="h-10 w-10 rounded-full" src="https://www.maxpixel.net/static/photo/1x/Tomato-Food-Healthy-Cucumber-Salad-Power-Supply-4353293.jpg" alt="">
          </div>
          <div class="flex-1 min-w-0">
            <a href="#" class="focus:outline-none">
              <!-- Extend touch target to entire panel -->
              <span class="absolute inset-0" aria-hidden="true"></span>
              <p class="text-sm font-medium text-gray-900">
                A-Recipe-1
              </p>
              <p class="text-sm text-gray-500 truncate">
                Author
              </p>
            </a>
          </div>
        </div>
      </li>

      <li class="bg-white">
        <div class="relative py-5 flex items-center space-x-3 hover:bg-gray-50 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-500">
          <div class="flex-shrink-0">
            <img class="h-10 w-10 rounded-full" src="https://www.maxpixel.net/static/photo/1x/Tomato-Food-Healthy-Cucumber-Salad-Power-Supply-4353293.jpg" alt="">
          </div>
          <div class="flex-1 min-w-0">
            <a href="#" class="focus:outline-none">
              <!-- Extend touch target to entire panel -->
              <span class="absolute inset-0" aria-hidden="true"></span>
              <p class="text-sm font-medium text-gray-900">
                A-Recipe-2
              </p>
              <p class="text-sm text-gray-500 truncate">
                Author
              </p>
            </a>
          </div>
        </div>
      </li>

      <li class="bg-white">
        <div class="relative py-5 flex items-center space-x-3 hover:bg-gray-50 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-500">
          <div class="flex-shrink-0">
            <img class="h-10 w-10 rounded-full" src="https://www.maxpixel.net/static/photo/1x/Tomato-Food-Healthy-Cucumber-Salad-Power-Supply-4353293.jpg" alt="">
          </div>
          <div class="flex-1 min-w-0">
            <a href="#" class="focus:outline-none">
              <!-- Extend touch target to entire panel -->
              <span class="absolute inset-0" aria-hidden="true"></span>
              <p class="text-sm font-medium text-gray-900">
                A-Recipe-3
              </p>
              <p class="text-sm text-gray-500 truncate">
                Author
              </p>
            </a>
          </div>
        </div>
      </li>

      <li class="bg-white">
        <div class="relative py-5 flex items-center space-x-3 hover:bg-gray-50 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-500">
          <div class="flex-shrink-0">
            <img class="h-10 w-10 rounded-full" src="https://www.maxpixel.net/static/photo/1x/Tomato-Food-Healthy-Cucumber-Salad-Power-Supply-4353293.jpg" alt="">
          </div>
          <div class="flex-1 min-w-0">
            <a href="#" class="focus:outline-none">
              <!-- Extend touch target to entire panel -->
              <span class="absolute inset-0" aria-hidden="true"></span>
              <p class="text-sm font-medium text-gray-900">
                A-Recipe-4
              </p>
              <p class="text-sm text-gray-500 truncate">
                Author
              </p>
            </a>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <div class="relative">
    <div class="z-10 sticky top-0 border-t border-b border-gray-200 bg-gray-50 px-6 py-1 text-sm font-medium text-gray-500">
      <h3>Y</h3>
    </div>
    <ul role="list" class="relative z-0 divide-y divide-gray-200">
      <li class="bg-white">
        <div class="relative py-5 flex items-center space-x-3 hover:bg-gray-50 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-500">
          <div class="flex-shrink-0">
            <img class="h-10 w-10 rounded-full" src="https://www.maxpixel.net/static/photo/1x/Tomato-Food-Healthy-Cucumber-Salad-Power-Supply-4353293.jpg" alt="">
          </div>
          <div class="flex-1 min-w-0">
            <a href="#" class="focus:outline-none">
              <!-- Extend touch target to entire panel -->
              <span class="absolute inset-0" aria-hidden="true"></span>
              <p class="text-sm font-medium text-gray-900">
                A-Recipe-1
              </p>
              <p class="text-sm text-gray-500 truncate">
                Author
              </p>
            </a>
          </div>
        </div>
      </li>

      <li class="bg-white">
        <div class="relative py-5 flex items-center space-x-3 hover:bg-gray-50 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-500">
          <div class="flex-shrink-0">
            <img class="h-10 w-10 rounded-full" src="https://www.maxpixel.net/static/photo/1x/Tomato-Food-Healthy-Cucumber-Salad-Power-Supply-4353293.jpg" alt="">
          </div>
          <div class="flex-1 min-w-0">
            <a href="#" class="focus:outline-none">
              <!-- Extend touch target to entire panel -->
              <span class="absolute inset-0" aria-hidden="true"></span>
              <p class="text-sm font-medium text-gray-900">
                A-Recipe-2
              </p>
              <p class="text-sm text-gray-500 truncate">
                Author
              </p>
            </a>
          </div>
        </div>
      </li>

      <li class="bg-white">
        <div class="relative py-5 flex items-center space-x-3 hover:bg-gray-50 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-500">
          <div class="flex-shrink-0">
            <img class="h-10 w-10 rounded-full" src="https://www.maxpixel.net/static/photo/1x/Tomato-Food-Healthy-Cucumber-Salad-Power-Supply-4353293.jpg" alt="">
          </div>
          <div class="flex-1 min-w-0">
            <a href="#" class="focus:outline-none">
              <!-- Extend touch target to entire panel -->
              <span class="absolute inset-0" aria-hidden="true"></span>
              <p class="text-sm font-medium text-gray-900">
                A-Recipe-3
              </p>
              <p class="text-sm text-gray-500 truncate">
                Author
              </p>
            </a>
          </div>
        </div>
      </li>

      <li class="bg-white">
        <div class="relative py-5 flex items-center space-x-3 hover:bg-gray-50 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-500">
          <div class="flex-shrink-0">
            <img class="h-10 w-10 rounded-full" src="https://www.maxpixel.net/static/photo/1x/Tomato-Food-Healthy-Cucumber-Salad-Power-Supply-4353293.jpg" alt="">
          </div>
          <div class="flex-1 min-w-0">
            <a href="#" class="focus:outline-none">
              <!-- Extend touch target to entire panel -->
              <span class="absolute inset-0" aria-hidden="true"></span>
              <p class="text-sm font-medium text-gray-900">
                A-Recipe-4
              </p>
              <p class="text-sm text-gray-500 truncate">
                Author
              </p>
            </a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</nav>

