.tw-recipe-list {
  @apply grid grid-cols-2 gap-x-4 gap-y-8 sm:grid-cols-3 sm:gap-x-6 lg:grid-cols-4 xl:gap-x-8
}

.tw-recipe-list-item {
  @apply block w-full;
  @apply aspect-w-10 aspect-h-7;
  @apply rounded-lg;
  @apply bg-gray-100;
  @apply focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-offset-gray-100 focus-within:ring-indigo-500;
  @apply overflow-hidden;
}

.tw-recipe-list-item-image {
  @apply object-cover;
  @apply pointer-events-none;
  @apply group-hover:opacity-75;
}
