@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

// FIXME: Remove this later
.temporary-class {
  border: 1px dotted black;
  padding: 1rem;
  margin: 1rem 0;
}

